
  <div class="login-container">
    <img src="" alt="datum Logo" class="comp-logo">

    <form>
    <div class="mb-3">
        <label for="login" class="form-label" data-translate="company">Company</label>
        <select class="form-select" id="company" data-placeholder="company_placeholder">
          <option value="" disabled selected>Select your company</option>
          <option value="company1">Company 1</option>
          <option value="company2">Company 2</option>
          <option value="company3">Company 3</option>
        </select>
      </div>

      <div class="mb-3">
        <label for="login" class="form-label" data-translate="username">Username</label>
        <input type="text" class="form-control" id="login" placeholder="" data-placeholder="username_placeholder">
      </div>

      <div class="mb-3">
        <label for="password" class="form-label d-flex justify-content-between">
          <span data-translate="password">Password</span>
        </label>
        <input type="password" class="form-control" id="password" placeholder="" data-placeholder="password_placeholder">
      </div>

      <div class="mb-3">
        <label for="login" class="form-label" data-translate="company">Branch</label>
        <select class="form-select" id="branch" data-placeholder="branch_placeholder">
          <option value="" disabled selected>Select your branch</option>
          <option value="branch1">Branch 1</option>
          <option value="branch2">Branch 2</option>
          <option value="branch3">Branch 3</option>
        </select>
      </div>

      <div class="d-grid">
        <button type="submit" class="btn btn-primary" data-translate="login">Log in</button>
      </div>
    </form>

    <!-- <p class="text-center mt-4 small" data-translate="signup">Don't have an account? <a href="#">Sign up</a></p> -->
  </div>